| {{ partial "header.html" . }}

.heading
  h1
    | {{ .Title }}
  h2
    | Podcast for {{ .Date.Format "Monday, June 2th, 2006" }}
  h3
    | Listen time: {{ .Params.listen_time }} mins
.body
  .tight
    .text-center
      img.rounded(src='/img/sized/cropped/100/artists/{{ .Params.artist }}/main.jpg')
    v-wavesurfer(src='{{ .Params.media_url }}', peaks='{{ jsonify (index .Site.Data.peaks .Params.slug) }}', title='{{ .Title }}')
    h4 Bonus Download
    
    | {{ $podcast := . }}
    | {{ if .Params.goody }}
    | {{ range first 1 (where (where (where .Site.Pages.ByDate.Reverse "Type" "artist") "IsPage" true) "Params.slug" .Params.artist)}}
    | {{ $goody := index .Params.goodies $podcast.Params.goody }}
    | {{ $goody_preview := print $podcast.Params.goody "-preview" }}
    strong
      | Podcast bonus content Bonus download: 
    v-wavesurfer(src='{{ $goody.preview_url }}', peaks='{{ jsonify (index .Site.Data.peaks $goody_preview) }}', title='{{ $goody.title }}')
      | {{ $goody.title }}
    | {{ end }}
    | {{ end }}    

    p
      | {{ .Params.summary }}
  | {{ partial "goody.html" . }}

| {{ partial "artist-profile-snapshot" . }}

| {{ partial "footer.html" . }}
