footer
  .container
    .row
      .col.col-offset-2
        ul.list-inline.text-center
          | {{ with .Site.Params.email }}
          li.list-inline-item
            a(href='mailto:{{ . }}')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-envelope-o.fa-stack-1x.fa-inverse
          | {{ end }}
          | {{ range .Site.Params.social }}
          li.list-inline-item
            a(href='{{ .url }}')
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-stack-1x.fa-inverse(class='fa-{{ .title }}')
          | {{ end }}
        small
          a(href='/page/tos') Terms of Service
          |  | 
          a(href='/page/privacy') Privacy Policy
          |  | 
          a(href='/page/dmca') DMCA
        p.copyright.text-muted
          | {{ .Site.Copyright }}
</div>
| {{ template "_internal/google_analytics.html" . }}
</body>
</html>