| {{ $podcast := . }}
| {{ if .Params.goody }}
| {{ range first 1 (where (where (where .Site.Pages.ByDate.Reverse "Type" "artist") "IsPage" true) "Params.slug" .Params.artist)}}
| {{ $goody := index .Params.goodies $podcast.Params.goody }}
.goody
  .card
    .card-block
      .card-title.clearfix
        .pull-left
          img(src='/img/sized/aspect/800/logo/8c_vectorized-inverted.png')
        .pull-right
          h6 Exclusive Download
      .card-text
        | {{ if $goody }}
        h4.brand-orange.text-center 
          | {{ $goody.title }}
        | Listen to {{ .Title }}'s {{ $goody.style }}, 
        b.brand-orange {{ $goody.title }}
        | , made available just for this {{ $goody.audience }}.
        | {{ $goody_preview := print $podcast.Params.goody "-preview" }}
        v-wavesurfer(src='{{ $goody.preview_url }}', peaks='{{ jsonify (index .Site.Data.peaks $goody_preview) }}')
        .text-center
          a.btn.btn-primary.btn-lg
            i.fa.fa-lock
            |  Access the Full Version
        .text-danger
          small
            | Sign in to hear and download the full version.
        | {{ else }}
        .text-danger
          | Goody 
          i
            | {{ $podcast.Params.goody }}
          |  is missing from artist profile.
        | {{ end }}
| {{ end }}
| {{ end }}