
navbar(placement='top', type='default')
  a.navbar-brand(slot='brand', href='/', title='Home')
    img(src='/img/sized/aspect/100/logo/9_vectorized-inverted.png')
  dropdown(text='Dropdown')
    li
      a(href='link') Option
  // Or normal bootstrap style
  li.dropdown
    a.dropdown-toggle(href='#') Dropdown
    ul.dropdown-menu
      li
        a(href='link') Option
  // For right positioning use slot
  li(slot='right')
    a(href='https://github.com/yuche/vue-strap', target='_blank') Fork...

#bs-example-navbar-collapse-1.collapse.navbar-collapse
  ul.nav.navbar-nav.navbar-right
    | {{ range .Site.Menus.main }}
    li
      a(href='{{ .URL }}') {{ .Name }}
    | {{end}}