| +++
| artist = "jimi-revolver"
| goody = "alone-in-reno"
| categories = []
| comments = true
| date = "2017-06-14T07:17:05-07:00"
| summary = "It's not every day that you can get up and look out at the ocean and think, \"I arrived\". Today wasn't one of those days either."
| draft = true
| tags = []
| title = "What it means to be a hard-working musician"
| is_featured = true
| 
| +++
| 
