| +++
| categories = []
| tags = []
| comments = true
| date = "2017-06-13T15:03:05-07:00"
| description = ""
| draft = false
| title = "Pilot Episode: Jimi Revolver"
| slug = "pilot-episode-jimi-revolver"
| is_featured = true
| listen_time = 23
| artist = "jimi-revolver"
| summary = "Jimi Revolver checks in from his East Coast tour to give us an exclusive performance and chat about how to get up in every morning and try again. He gives tips on vocal health, how to book gigs, as well as an exclusive performance."
| goody = "running-to-my-maker"
| media_url = "https://firebasestorage.googleapis.com/v0/b/unsynd-bb5ef.appspot.com/o/000-pilot-jimi-revolver.mp3?alt=media&token=12a49610-c2e9-4cda-9576-0a60e13f0377"
| +++
| 
