| {{ partial "header.html" . }}

.text-center
  h5.title
    | {{ .Title }}
  h6.subtitle.text-muted
    | Artist Perspective for {{ .Date.Format "Monday, June 2th, 2006" }}
  small.text-muted
    | Read time: 13 mins
.tight
  .text-center
    img.rounded(src='/img/sized/cropped/100/artists/{{ .Params.artist }}/main.jpg')
.container
  | {{ partial "goody.html" . }}
  | {{ .Content }}

| {{ $perspective := . }}
| {{ range first 1 (where (where (where .Site.Pages.ByDate.Reverse "Type" "artist") "IsPage" true) "Params.slug" .Params.artist)}}
.container
  h6 Connect with {{ .Title }} 
  .social-links.text-center
    | {{ range $site := .Params.social }}
    a.btn.btn-sm.btn-brand(href='{{ $site.url }}')
      i.fa(class='fa-{{ $site.fa }}')
    | {{ end }}
| {{ end }}

| {{ partial "footer.html" . }}
