.navbar-brand img {
  height: 28px; }

.site-heading h2 {
  font-size: 18pt; }

.intro-header {
  text-align: center; }

.container {
  padding-top: 15px;
  padding-bottom: 15px; }
  .container.one {
    background-color: #dedcbd; }
  .container.two {
    color: black;
    background-color: white; }
    .container.two h1, .container.two h2, .container.two h3, .container.two h4, .container.two h5, .container.two h6, .container.two .h1, .container.two .h3, .container.two .h4, .container.two .h5, .container.two .h6 {
      color: black; }
    .container.two h6 {
      text-align: center; }
      .container.two h6.text-muted {
        color: #888888; }
  .container.three {
    background-color: #960000; }
  .container.four {
    color: black;
    background-color: #f3ff5a; }
    .container.four h1, .container.four h2, .container.four h3, .container.four h4, .container.four h5, .container.four h6, .container.four .h1, .container.four .h3, .container.four .h4, .container.four .h5, .container.four .h6 {
      color: black; }
    .container.four a.readmore {
      background-color: #ecd140;
      font-size: 25px; }
      .container.four a.readmore .fa {
        font-size: 50px; }

.brand-orange {
  color: #ff9827 !important; }

.featured-podcast .title {
  font-size: 45px; }

.featured-podcast .subtitle {
  font-size: 15px; }

.featured-podcast audio {
  width: 100%; }

.featured-podcast img {
  width: 100%;
  border-radius: 100px;
  border: 1px solid gray; }

.featured-podcast .card {
  color: white; }
  .featured-podcast .card h1, .featured-podcast .card h2, .featured-podcast .card h3, .featured-podcast .card h4, .featured-podcast .card h5, .featured-podcast .card h6, .featured-podcast .card .h1, .featured-podcast .card .h3, .featured-podcast .card .h4, .featured-podcast .card .h5, .featured-podcast .card .h6 {
    color: white; }
  .featured-podcast .card .card-title img {
    width: initial;
    border: none;
    border-radius: initial;
    height: 80px; }

.featured-article .title {
  font-size: 45px; }

.featured-article .subtitle {
  font-size: 15px; }

.featured-article audio {
  width: 100%; }

.featured-article img {
  width: 100px;
  border-radius: 100px;
  border: 1px solid gray; }

.featured-article .card {
  color: white; }
  .featured-article .card h1, .featured-article .card h2, .featured-article .card h3, .featured-article .card h4, .featured-article .card h5, .featured-article .card h6, .featured-article .card .h1, .featured-article .card .h3, .featured-article .card .h4, .featured-article .card .h5, .featured-article .card .h6 {
    color: white; }
  .featured-article .card .card-title img {
    width: initial;
    border: none;
    border-radius: initial;
    height: 80px; }
