.card {
  background-color: #f9f8f8;
  margin-bottom: 2rem; }
  .card .card-header h1, .card .card-header h2, .card .card-header h3, .card .card-header h4, .card .card-header h5, .card .card-header h6, .card .card-header .h1, .card .card-header .h3, .card .card-header .h4, .card .card-header .h5, .card .card-header .h6 {
    color: white; }
  .card .card-block h1, .card .card-block h2, .card .card-block h3, .card .card-block h4, .card .card-block h5, .card .card-block h6, .card .card-block .h1, .card .card-block .h3, .card .card-block .h4, .card .card-block .h5, .card .card-block .h6 {
    color: #ff9827; }
  .card .card-header {
    background-color: #ff9827; }

strong {
  font-weight: normal;
  color: #ff9827; }

em {
  color: #c06400; }

hr {
  border-top: 1px solid #ff9827;
  opacity: 0.5; }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content .h1, .content .h3, .content .h4, .content .h5, .content .h6 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

h1, h2, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6 {
  color: #ff9827; }

h4, h5, h6, .h4, .h5, .h6 {
  color: white; }

h6, .h6 {
  color: #f37f00; }

body {
  font-size: 1.075rem; }

.navbar-brand img {
  height: 2rem; }

.container {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .container.one {
    background-color: #dedcbd; }
  .container.two {
    color: black;
    background-color: white; }
    .container.two h1, .container.two h2, .container.two h3, .container.two h4, .container.two h5, .container.two h6, .container.two .h1, .container.two .h3, .container.two .h4, .container.two .h5, .container.two .h6 {
      color: black; }
    .container.two h6 {
      text-align: center; }
      .container.two h6.text-muted {
        color: #888888; }
  .container.three {
    background-color: #960000; }
    .container.three h1, .container.three h2, .container.three h3, .container.three h4, .container.three h5, .container.three h6, .container.three .h1, .container.three .h3, .container.three .h4, .container.three .h5, .container.three .h6 {
      color: white; }
  .container.four {
    color: black;
    background-color: #f3ff5a; }
    .container.four h1, .container.four h2, .container.four h3, .container.four h4, .container.four h5, .container.four h6, .container.four .h1, .container.four .h3, .container.four .h4, .container.four .h5, .container.four .h6 {
      color: black; }

.brand-orange {
  color: #ff9827 !important; }

.featured-podcast .title {
  font-size: 2.5rem; }

.featured-podcast .subtitle {
  font-size: 1rem; }

.featured-podcast img {
  width: 9rem;
  border-radius: 100rem;
  border: 1px solid gray; }

.featured-podcast .card {
  background-color: #101010;
  color: white; }
  .featured-podcast .card h1, .featured-podcast .card h2, .featured-podcast .card h3, .featured-podcast .card h4, .featured-podcast .card h5, .featured-podcast .card h6, .featured-podcast .card .h1, .featured-podcast .card .h3, .featured-podcast .card .h4, .featured-podcast .card .h5, .featured-podcast .card .h6 {
    color: white; }
  .featured-podcast .card .card-title img {
    width: initial;
    border: none;
    border-radius: initial;
    height: 3.5rem; }

img.round {
  border-radius: 100rem;
  border: 1px solid gray; }

.featured-article .title {
  font-size: 2.5rem; }

.featured-article .subtitle {
  font-size: 1rem; }

.featured-article audio {
  width: 100%; }

.featured-article img {
  width: 6.5rem;
  border-radius: 100rem;
  border: 1px solid gray; }

.featured-article .card {
  background-color: #101010;
  color: white; }
  .featured-article .card h1, .featured-article .card h2, .featured-article .card h3, .featured-article .card h4, .featured-article .card h5, .featured-article .card h6, .featured-article .card .h1, .featured-article .card .h3, .featured-article .card .h4, .featured-article .card .h5, .featured-article .card .h6 {
    color: white; }
  .featured-article .card .card-title img {
    width: initial;
    border: none;
    border-radius: initial;
    height: 3.5rem; }

.tight {
  width: 320px;
  margin-left: auto;
  margin-right: auto; }
