.navbar-brand
{
  img 
  {
    height: 28px;
  }  
} 


.site-heading
{
  h1
  {
  }
  h2
  {
    font-size: 18pt;
  }
}
.intro-header
{
  text-align: center;
}


.container
{
  padding-top: 15px;
  padding-bottom: 15px;
  &.one
  {
    background-color: #dedcbd;
  }
  &.two
  {
    color: black;
    h1, h2, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6
    {
      color: black;
    }
    h6
    {
      text-align: center;
      &.text-muted
      {
        color: #888888;
      }
    }
    background-color: white;
  }
  &.three
  {
    background-color: #960000;
  }
  &.four
  {
    color: black;
    h1, h2, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6
    {
      color: black;
    }
    background-color: #f3ff5a;
    a.readmore
    {
      background-color: #ecd140;
      font-size: 25px;
      .fa
      {
        font-size: 50px;
      }
      
    }
  }
}

.brand-orange
{
  color: #ff9827 !important;
}

.featured-podcast
{
  .title
  {
    font-size: 45px;
  }
  .subtitle
  {
    font-size: 15px;
  }
  audio
  {
    width: 100%;
  }
  
  img
  {
    width: 100%;
    border-radius: 100px;
    border: 1px solid gray;
  }
  
  .card
  {
    color: white;
    h1, h2, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6
    {
      color: white;
    }
    .card-title
    {
      img
      {
        width: initial;
        border: none;
        border-radius: initial;
        height: 80px;
      }
      
    }
  }
  
  
}

.featured-article
{
  .title
  {
    font-size: 45px;
  }
  .subtitle
  {
    font-size: 15px;
  }
  audio
  {
    width: 100%;
  }
  
  img
  {
    width: 100px;
    border-radius: 100px;
    border: 1px solid gray;
  }
  
  .card
  {
    color: white;
    h1, h2, h3, h4, h5, h6, .h1, .h3, .h4, .h5, .h6
    {
      color: white;
    }
    .card-title
    {
      img
      {
        width: initial;
        border: none;
        border-radius: initial;
        height: 80px;
      }
      
    }
  }
  
}

