| {{ partial "header.html" .}}

.container.three
  .row
    .col.text-center
      h3
        | The Unsynd Podcast launches in 
        s 50
        |  
        span.text-warning
          | {{ sub 50 (len (where (where .Site.Pages "IsPage" true) "Type" "artist" ))}}
        |  more artists.
      a.btn.btn-lg.btn-primary(href="/launch")
        | Read Our Launch Plan
.container.two.featured-podcast
  | {{ partial "latest-featured-podcast.html" . }}
.container.four.featured-article
  | {{ partial "latest-featured-article.html" . }}
.container.one.text-center
  .row
    .col
      h1
        | We are the 
        span.brand-orange unsynd
      h4.text-muted Those artists, musicians, and industry professionals who are not waiting for a record deal to do it for us.
      p Unsynd features daily articles and podcasts from the front lines. Learn to stoke your own fire from independent artists, agents, and professionals.

| {{ partial "footer.html" .}}
